.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    .api{
        display: flex;
        p{
            padding: 5px;
            margin: 0 20;
        }
    }
    .body{
        border: 2px solid #ccc;
        border-radius: 10px;
        width: 800px;
        height: 550px;
        overflow: auto;
    }
}